<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469777270289-m0han7jk9t7saifau00bcqet62u9uh2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469777270289-m0han7jk9t7saifau00bcqet62u9uh2l</string>
	<key>API_KEY</key>
	<string>AIzaSyBehlO6ml-nkoItY4DMmebQONtKzgdJztA</string>
	<key>GCM_SENDER_ID</key>
	<string>469777270289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.media</string>
	<key>PROJECT_ID</key>
	<string>facedetect-d6a6d</string>
	<key>STORAGE_BUCKET</key>
	<string>facedetect-d6a6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469777270289:ios:c7f9b9afcfebef79</string>
	<key>DATABASE_URL</key>
	<string>https://facedetect-d6a6d.firebaseio.com</string>
</dict>
</plist>